<div class="flex justify-content-center align-items-center h-full">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <p-card header="Login" [style]="{ width: '360px'}">
      <div class="field">
        <label for="email">Email</label>
        <input type="text" pInputText formControlName="email" class="w-full" name="email"
          placeholder="Type your email" />
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" pInputText formControlName="password" class="w-full" name="password"
          placeholder="Type your password" />
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
          <div *ngIf="password.errors?.['required']">Password is required.</div>
        </small>
      </div>
      <p-button
        label="SIGN IN"
        styleClass="w-full"
        [disabled]="loginForm.invalid"
        type="submit">
      </p-button>
    </p-card>
  </form>
  <p-toast></p-toast>
</div>
