.example-spacer {
  flex: 1 1 auto;
}

.mat-responsive {
  mat-toolbar {
    width: 100%;
  }
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-toolbar {
    width: 100%;
    overflow: auto;
  }
  mat-form-field {
    width: 100%;
    overflow-x: auto;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.mat-mdc-raised-button.button-yellow{
  background-color: rgb(242, 242, 45);
  font-size: 22px;
  font-weight: 500;
}

.mat-mdc-raised-button.button-red{
  background-color: rgb(226, 45, 45);
  color: rgb(250, 234, 215);
  font-weight: 500;
}

// .filter{
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }
