<mat-dialog-content>Are you sure you want to delete this data?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button type="button" [mat-dialog-close]="false">
    Cancel
  </button>
  <button mat-raised-button class="mat-mdc-raised-button button-red">
    Yes
  </button></mat-dialog-actions>
